/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: SaccoVanzetti;
	font-size: 11;
}
@font-face
{
	fontFamily: SaccoVanzetti;
	src: url("D:\flex4-projects\ClassicalFireworks\src\assets\fonts\SaccoVanzetti.ttf");
	embedAsCFF: true;
}
	